<!-- Modal Structure -->
<div id="demoModal" class="modal modal-s">
    <div class="modal-content">
        <form class="col s12">
            <h4>Cadastrar conta</h4>

            <div class="row">
                <div class="col s6 m6 l2" input-field>
                    <select ng-options="tipo as tipo.description for tipo in tipoConta track by tipo.id" ng-model="conta.tipoConta" material-select watch>
                      <option value="" selected>Selecione</option>
                    </select>
                    <label>Tipo da conta</label>
                </div>
                <div class="col s6 m6 l4" input-field>
                    <select ng-options="tipo as tipo.description for tipo in tipoGasto track by tipo.id" ng-model="conta.tipogasto" material-select watch>
                      <option value="" selected>Selecione o tipo</option>
                    </select>
                    <label>Tipo do gasto</label>
                </div>
                <div class="col s6 m6 l4" input-field>
                    <select ng-options="conta as conta.description for conta in contas track by conta.id" class="" ng-model="conta.conta" material-select watch>
                        <option value="" selected>Selecione a conta</option>
                    </select>
                    <label>Conta</label>
                </div>
                <div class="col s6 m6 l2" input-field>
                    <input input-date placeholder="Selecione a data" type="text" container="body" name="created" ng-model="conta.data" format="dd/mm/yyyy" close-on-select="true" close-on-clear="false" closeOnClear="false" today="today" first-day="1" clear="clear" close="close"/>
                    <label for="inputCreated">Data</label>
                </div>
                <div class="col s6 m3 l2" input-field>
                    <input placeholder="Digite o valor da conta" type="text" ng-model="conta.value">
                    <label>Valor</label>
                </div>
                <div class="col s6 m9 l8" input-field>
                    <input placeholder="Preencha a descrição da conta" type="text" ng-model="conta.description">
                    <label>Descrição</label>
                </div>
                <div class="col s6 m2 l2" input-field>
                    <input type="checkbox" class="filled-in" ng-model="conta.pay" id="filled-in-box" />
                    <label for="filled-in-box">Pago</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="cadastrarConta(conta);">Cadastrar</a>
    </div>
</div>

<div class="row ">
    <div class="col s12">

        <a ng-click="expand();" class="waves-effect waves-light btn">Filtros <i class="large material-icons right">arrow_drop_down</i></a>

        <div class="card-panel" ng-show="show">
            <div class="row no-margin">
                <div class="col s6 m4 l2">
                    <h6>Contas</h6>

                    <input type="checkbox" ng-model="selectedAll" class="filled-in section" id="todos" />
                    <label class="block" for="todos" ng-click="checkAll(); ">Todos</label>

                    <div ng-repeat="conta in contas track by $index">
                        <input type="checkbox" ng-model="conta.selected" class="filled-in" id="{{$index}}" />
                        <label class="block" for="{{$index}}">{{conta.description}}</label>
                    </div>

                </div>
                <div class="col s6 m4 l2 ">
                    <h6>Período</h6>

                    <label for="inputCreated">Data Inicial</label>
                    <input input-date type="text" ng-model="currentTime1" format="dd/mm/yyyy" first-day="1" today="Hoje" clear="Limpar" close="Fechar" />

                    <label for="inputCreated">Data Final</label>
                    <input input-date type="text" ng-model="currentTime2" format="dd/mm/yyyy" first-day="1" today="Hoje" clear="Limpar" close="Fechar" />

                </div>
                <div class="col s12 m12 l12 ">
                    <hr />
                    <a class="waves-effect waves-light btn green lighten-1">Filtrar <i class="material-icons right">filter_list</i></a>
                    <a class="waves-effect waves-light btn red lighten-1">Limpar <i class="material-icons right">clear</i></a>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="col s12" style="margin-top:10px;">
    <ul tabs reload="allTabContentLoaded">
        <li class="tab col s3"><a class="active" href="#contasPagarTab">Contas a pagar</a></li>
        <li class="tab col s3"><a href="#contasReceberTab">Contas a receber</a></li>
    </ul>
</div>
<div id="contasPagarTab" class="col s12 ">
    <ul class="collection container-contas">
        <li ng-repeat="gasto in gastos | filter: filtraPagar" class="collection-item avatar gasto" ng-click="select(gasto)">
            <i class="material-icons circle" ng-class="{'green': gasto.pay, 'red': !gasto.pay}">{{gasto.tipogasto.id | filtroTipoGasto}}</i>
            <i class="right">{{gasto.data | date:'dd/MM/yyyy'}}</i>
            <span class="title">{{gasto.description}}</span>
            <p class="description">
                {{gasto.conta.description}}
            </p>
            <p class="valor">
                {{gasto.value | currency}}
            </p>
            <a class="secondary-content" style="margin-top:15px;"><input type="checkbox" ng-model="gasto.selected" class="filled-in" /> <label></label></a>
        </li>
    </ul>
    <div ng-show="gastos.length > 5" class="col s12 white valign-wrapper clicavel" style="margin-top: -1.1rem; margin-bottom: 1rem; border:1px solid #e0e0e0;">
      <i class="material-icons center-block">more_horiz</i>
    </div>

    <a class="waves-effect waves-light btn light-green" ng-click="pagarSelecionados(gastos);"><i class="material-icons left">payment</i>Pagar</a>
    <a class="waves-effect waves-light btn light-blue" ng-click="liberarSelecionados(gastos);"><i class="material-icons left">undo</i>Liberar</a>
    <a class="waves-effect waves-light btn red lighten-1" ng-click="apagarSelecionados(gastos);"><i class="material-icons left">delete</i>Apagar</a>

</div>
<div id="contasReceberTab" class="col s12">

</div>

<div class="fixed-action-btn" style="bottom: 20px; right: 25px;">
    <a class="btn-floating btn-large waves-effect waves-light red" modal dismissible="false" data-target="demoModal" opacity=".5" ng-click="open()" open="openModal"> <i class="material-icons">add</i></a>
</div>

<style>
.clicavel {
  cursor:pointer;
}
.container-contas {
  max-height:409px;
  overflow-y:auto;
}
</style>
