<div class="row">
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/verde.png" style="height:140px;">
                <span class="card-title">Saldo</span>
            </div>
            <div class="card-content">
                <p>R$ 999,00</p>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/vermelho.png" style="height:140px;">
                <span class="card-title">Contas a pagar</span>
            </div>
            <div class="card-content">
                <p>R$ 999,00</p>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/azul.png" style="height:140px;">
                <span class="card-title">Contas a receber</span>
            </div>
            <div class="card-content">
                <p>R$ 999,00</p>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/amarelo.png" style="height:140px;">
                <span class="card-title">Previsão</span>
            </div>
            <div class="card-content">
                <p>R$ 999,00</p>
            </div>
        </div>
    </div>
</div>
